<div class="menu-container">
  <h1 class="menu-heading">MENU</h1>

  <div class="menu-items-container">
    <div class="menu-item">
      <h2 class="menu-item-heading">~pasta~</h2>
      <ul class="menu-item-list">
        <li>アラビアータ 500円<button class="menu-item-button"></li>
        <li>ハマビアータ~長ネギのアラビアータ(ニンニクなし)~ 500円<button class="menu-item-button">></li>
        <li>カルボナーラ 500円<button class="menu-item-button"></li>
        <li>ほうれん草と鶏ハムのクリームスパゲッティ 600円<button class="menu-item-button"></li>
        <li>ナポリタン 600円<button class="menu-item-button"></li>
      </ul>
    </div>
    <div class="menu-item">
      <h2 class="menu-item-heading">~Appetizers~</h2>
      <ul class="menu-item-list">
        <li>自家製モッツァレラチーズ ~バジルソースを添えて〜 500円<button class="menu-item-button"></li>
        <li>ホエイのしっとり鶏ハム 500円<button class="menu-item-button"></li>
        <li>ブロッコリーのあの、くたくた 500円<button class="menu-item-button"></li>
        <li>ジャガイモのフリコ 500円<button class="menu-item-button"></li>
      </ul>
    </div>
    <div class="menu-item">
      <h2 class="menu-item-heading">~Dessert~</h2>
      <ul class="menu-item-list">
        <li>あの、イタリアンプリン 400円<button class="menu-item-button"></li>
      </ul>
      <h2 class="menu-item-heading">~Special Drink~</h2>
      <ul class="menu-item-list">
        <li>ドルチェット・ダルバ DOC 2021</li>
        <li>グラス 800円</li>
        <li>ボトル 6000円</li>
        <li>レッドアイカクテル 100円</li>
      </ul>
    </div>
  </div>
</div>

