<div class="container">
  <h1 class="text-center my-4">MENU</h1>

  <div class="row">
    <div class="col-md-4">
      <h2>~pasta~</h2>
      <ul class="list-group">
        <li class="list-group-item">アラビアータ 500円</li>
        <li class="list-group-item">ハマビアータ~長ネギのアラビアータ(ニンニクなし)~ 500円</li>
        <li class="list-group-item">カルボナーラ 500円</li>
        <li class="list-group-item">ほうれん草と鶏ハムのクリームスパゲッティ 600円</li>
        <li class="list-group-item">ナポリタン 600円</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>~Appetizers~</h2>
      <ul class="list-group">
        <li class="list-group-item">自家製モッツァレラチーズ ~バジルソースを添えて〜 500円</li>
        <li class="list-group-item">ジャガイモのフリコ 500円</li>
        <li class="list-group-item">ブロッコリーのあの、くたくた 500円</li>
        <li class="list-group-item">ホエイのしっとり鶏ハム 500円</li>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>~Dessert~</h2>
      <ul class="list-group">
        <li class="list-group-item">あの、イタリアンプリン 400円</li>
      </ul>
      <h2 class="mt-4">~Special Drink~</h2>
      <ul class="list-group">
        <li class="list-group-item">ドルチェット・ダルバ DOC 2021</li>
        <li class="list-group-item">グラス 800円</li>
        <li class="list-group-item">ボトル 6000円</li>
        <li class="list-group-item">レッドアイカクテル 100円</li>
      </ul>
    </div>
  </div>
</div>

<div class="text-center my-4">
  <%= link_to 'Admin Page', admin_path, class: 'btn btn-primary' %>
</div>